/* Definindo uma fonte padrão para o corpo da página */
body {
    font-family: 'Poppins', sans-serif;
    background-color: white; /* Fundo branco */
    color: black; /* Cor do texto */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Garantir que o conteúdo ocupe a altura total da tela */
}

/* Estilo da barra de navegação */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(to right, rgb(162, 0, 49), rgb(85, 2, 129)); /* Gradiente rosa e roxo */
    border-bottom: 2px solid white;
    position: relative;
}

/* Container para o botão de seleção */
.selecao-container {
    position: relative;
}

/* Botão para selecionar o board */
.btn {
    background: rgba(255, 255, 255, 0.2); /* Fundo transparente com texto claro */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

/* Efeito de hover para o botão de seleção */
.btn:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* Menu suspenso do botão */
.dropdown-menu {
    background-color: #6600CC;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li:hover {
    background-color: #FF0066;
}

/* Estilo para o título da navbar */
.titulo {
    font-size: 24px;
    font-weight: 700;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centraliza o título horizontalmente */
    text-transform: uppercase; /* Transforma o título para letras maiúsculas */
}

/* Estilo para o elemento de saudação do usuário */
#saudacao-usuario {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

/* Estilo para a área de detalhes do board */
#detalhes-board {
    flex-grow: 1; /* Faz com que a área ocupe o restante do espaço */
    padding: 20px;
}

/* Rodapé */
footer {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos adicionais para tornar a interface mais agradável */
button, .dropdown-menu li {
    cursor: pointer;
}

button:focus, .dropdown-menu li:focus {
    outline: none;
}